#board{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row{
    display: flex;
    flex-direction: row;
}

#Lightsout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:30px;
}

#operate{
    margin: 2em;
    width: 80px;
    height: 40px;
    cursor: pointer;
    background-color: lightgreen;
    border-radius: 0.4em;
    border: none;
    cursor: pointer;
    font-family: monospace;
    font-weight: 600;
    font-size: medium;
}