@keyframes disco{
    5% {background-color: #efefef;}
    10% {background-color: #8fb8f8;}
    15% {background-color: #efefef;}
    20% {background-color: #8fb8f8;}
    25% {background-color: #efefef;}
    30% {background-color: #8fb8f8;}
    35% {background-color: #efefef;}
    40% {background-color: #8fb8f8;}
    45% {background-color: #efefef;}
    50% {background-color: #8fb8f8;}
    55% {background-color: #efefef;}
    60% {background-color: #8fb8f8;}
    65% {background-color: #efefef;}
    70% {background-color: #8fb8f8;}
    75% {background-color: #efefef;}
    80% {background-color: #8fb8f8;}
    85% {background-color: #efefef;}
    90% {background-color: #8fb8f8;}
    95% {background-color: #efefef;}
    100% {background-color: #8fb8f8;}
}

.cell{
    width: 60px;
    height: 60px;
    border: 0.01em solid #424040;
    border-radius: 2px;
    margin: 2px;
    cursor: pointer;
}

@media (prefers-color-scheme: dark) {
    .cell{
        border-color: #fefefe;
    }
}
.cell-lit, .vic{
    width: 60px;
    height: 60px;
    border: 0.01em solid #efefef;
    border-radius: 2px;
    margin: 2px;
    background-color: #8fb8f8;
    cursor: pointer;
    box-shadow: 0 0 10px 5px #8fb8f8;
}
   
.vic{
    animation: disco 4s 5;
}