#control{        
    height: 450px;
    width: min(450px,100vw);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

@media (min-width: 768px){
    #control{
        justify-content: center;
    }
}
    #word{
        font-family: serif;
        font-size: x-large;
    }

    #keypad{
        margin: 10px 0;
    }


#keypad{
    width: 80%;
    text-align: center;
    margin-bottom: 24px;
}

.keys{
    font-family: monospace;
    background-color: aliceblue;
    border-radius: 0.2em;
    border: none;
    width: 15%;
    aspect-ratio: 1;
    margin: 0.7%;
    cursor: pointer;
    outline: 1px solid grey;
}

.keys:hover{
    background-color: aqua;
}

.keys:disabled{
    background-color: lightgrey;
    border-radius: 0.2em;
    width: 14%;
    cursor: auto;
}