@media (max-width: 499px){
    #initmsg{
        font-size: large;
        text-align: center;
    }
    }

@media (min-width: 500px){
#initmsg{
    font-size: x-large;
    margin: 1em 1em;
    text-align: center;
}
}