:root{
    --backcolor: seashell;
    --hcolor: black;
    --linkcolor: blue;
}

#playarea{
    display: flex;
    flex-direction: column;
    align-items: center;
}
body{
    background-color: var(--backcolor);
    color: var(--hcolor);
    transition: all 1s ease-out;
}
h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin: 10px;
}
@media (max-width: 500px){
    #optionsdiv{
        flex-direction: column;
        
    }
    .gameoptions{
        width: 150px;
    }
    .gameoptionactive{
        width: 145px;
        box-shadow: 1px 2px #8b4513;
        background-color: #fddaad;
    }
    .gameoptions:hover{
        width: 150px;
    }
}

@media (min-width: 501px){
    #optionsdiv{
        flex-direction: row;
    }
    .gameoptions{
        width: max-content;
    }
    .gameoptionactive{
        width: max-content;
        background-color: #faebd7;
        box-shadow: 2px 2px #8b4513;
    }
    .gameoptions:hover{
        width: max-content;
    }
}

#optionsdiv{
    display: none;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5em;
}

.gameoptions{
    margin: 0.3em;
    height: 30px;
    padding: 0 3px;
    background-color: #faebd7;
    box-shadow: 3px 4px #8b4513;
    border: none;
    cursor: pointer;
    font-family: monospace;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
}

.gameoptions:hover{
    margin: 0.3em;
    height: 30px;
    padding: 0 3px;
    background-color: #ddc19d;
    box-shadow: 3px 4px #8b4513;
    border: none;
    cursor: pointer;
    font-family: monospace;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
}

.gameoptionactive{
    margin: 0.3em;
    height: 30px;
    padding: 0 3px;
    transform: translate(3px,3px);
    transition: all .1s;
    border: none;
    cursor: pointer;
    font-family: monospace;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
}

#menu{
    width: 28px;
    height: 28px;
    cursor: pointer;
}

#logo{
    width: 35px;
    height: 35px;
    cursor: pointer;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
}