:root{
    --backcolor: seashell;
    --hcolor: black;
}

#playarea{
    display: flex;
    flex-direction: column;
    align-items: center;
}
body{
    background-color: var(--backcolor);
    color: var(--hcolor);
    transition: all 1s ease-out;
}
h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

#optionsdiv{
    text-align: center;
}

.gameoptions{
    margin-left: 0.5em;
    margin-right: 0.5em;
    height: 28px;
    background-color: antiquewhite;
    border: none;
    cursor: pointer;
    font-family: monospace;
    font-size: large;
    box-shadow: 3px 4px saddlebrown;
}

.gameoptions:disabled{
    transform: translate(3px,3px);
    box-shadow: 2px 2px saddlebrown;
    transition: all 100ms;
}