body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@media (min-width: 640px){
  .slick-slide{
    opacity: 0;
  }
}
.slick-slide{
  transform: scale(0.92);
  transition: all 400ms ease-in-out;
  padding-bottom: 10px;
}

.slick-center{
  transform: scale(1);
  opacity: 1;
}

.slick-prev::before, .slick-next::before{
  color: black !important;
}

@media (prefers-color-scheme: dark) {
  body{
    background-color: #252527;
  }
  
  .slick-prev::before, .slick-next::before{
    color: #fefefe !important;
  }  
}

.card-outer:hover .card-inner{
  transform: scale(1.01)
}

@tailwind base;
@tailwind components;
@tailwind utilities;