@media (max-width: 800px)
{
    #infodiv{
        font-size: 0.9em;
        width: 70vw;
    }
}

@media (min-width: 801px)
{
    #infodiv{
        width: 50vw;
    }
}

#infodiv{
    background-color: var(--backcolor);
    border-radius: 10px;
    border: 1px solid var(--hcolor);
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 5px 0 15px;
}

.infodivdiv{
    border-top: 1px solid var(--hcolor);
    margin-bottom: 5%;
}

#infodiv h2{
    font-weight: 600;
}

#infodiv h3{
    font-weight: 400;
}

#infodiv a{
    color: var(--linkcolor);
}